.musk{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: cyan;
    background-color: gray;

    
    
}
.elon{
    text-align: center;
    color: grey;
   
}
.pone{
    background-color: #eee;
    margin-top: 33px;

    
}
.weed{
    width: 250px;
    border-radius: 50px;
    
}
.bruh{
    background-color: aqua;
    border-radius: 500px;
    
    
}
.grey{
    background-color: #eee;
}

